.info {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0%;
  background-image: url("../Images/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  animation: change 20s ease-in-out infinite;
}

.typo {
  white-space: nowrap;
  margin-left: 5%;
  margin-top: 5%;
}

.btn {
  height: 50px;
  margin-top: 25%;
  padding: 10px 20px;
  color: rgb(250, 250, 250);
  background-color: #0a446c;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: none;

}

.btn:hover {
  background-color: rgb(49, 193, 49);
}

@keyframes change {
  0% {
    background-image: url("../Images/bgimg.jpg");
  }
  25% {
    background-image: url("../Images//bckimg2.jpg");
  }
  50% {
    background-image: url("../Images/bgimg.jpg");
  }
  70% {
    background-image: url("../Images/bckimg2.jpg");
  }
  100% {
    background-image: url("../Images/bgimg.jpg");
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: 5rem;
  margin-right: 5rem;
}
.para {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.heading {
  color: rgb(32, 106, 143);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
}
.intro {
  color: rgb(67, 67, 67);
  font-size: 24px;
}
.para p {
  color: rgb(99, 98, 98);
  font-size: 18px;
  margin-bottom: 2rem;
}
.btn-2 {
  width: 30%;
  padding: 11px 18px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgb(35, 155, 215);
  cursor: pointer;
}
.btn-2:hover {
  background-color: #0a446c;
  border: 1px solid rgb(51, 50, 50);
}
.image img {
  width: 600px;
  border-radius: 2px;
  box-shadow: 1px 4px 10px rgb(160, 160, 160);
}

/* core values  styling section 2 */

.sec-2 .main-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(32, 106, 143);
  margin-top: 4rem;
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
}
.item span {
  color: #0a446c;
}

.team {
  height: 120px;
  width: 100px;
  line-height: 110px;
}
.value-list .heading-2 {
  font-size: 30px;
  color: rgb(50, 50, 50);
}
.value-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-top: 5rem;
  overflow-x: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}
.value-list p {
  font-size: 16px;
  color: rgb(99, 98, 98);
}

/* styling the business info box section 4*/

.tital-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(32, 106, 143);
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
}

.box-content p {
  font-size: 18px;
  color: rgb(78, 78, 78);
  text-align: start;
}
.info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.info-box::before {
  content: "";
  background-image: url("../Images//box-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  height: 100%;
  width: 100%;
}
.box {
  width: 20%;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  justify-content: center;
  align-items: center;
}

/* styling the team card section 3*/

.card-sec h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 40px;
  color: rgb(32, 106, 143);
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 10%;
  height: fit-content;
  text-align: center;
  margin-bottom: 4rem;
  background-color: rgb(241, 243, 245);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 25px;
  padding: 2rem;
}

.card:hover {
  border: 1px solid rgb(152, 150, 150);
}
.card-img img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.card-info .card-para {
  color: rgb(78, 78, 78);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: start;
}
.card-info .card-heading {
  font-size: 28px;
  color: rgb(21, 70, 95);
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  .info{
    padding-top: 20%;
    margin-top: -220%;
    text-size-adjust: 20px;
  }
  .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 1rem;
  margin-right: 1rem;
  }
  .typo{
    white-space: normal;
    margin-top: 50%;
    margin-left: 30%;
    display: inline;
  }

  .para {
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  .heading {
  font-size: 35px;
  }
  .intro {
  font-size: 20px;
  }
  .para p {
  font-size: 16px;
  }
  .btn-2 {
  width: 50%;
  padding: 11px 18px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgb(35, 155, 215);
  cursor: pointer;
  }
  .btn-2:hover {
  background-color: #0a446c;
  border: 1px solid rgb(51, 50, 50);
  }
  .image img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 1px 4px 10px rgb(160, 160, 160);
  margin-top: 2rem;
  }
  .sec-2 .main-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: rgb(32, 106, 143);
  margin-top: 4rem;
  text-shadow: 2px 2px 5px rgb(176, 175, 175);
  }
  .value-list .heading-2 {
  font-size: 25px;
  color: rgb(50, 50, 50);
  }
  .value-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-top: 5rem;
  overflow-x: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  }
  .value-list p {
  font-size: 16px;
  color: rgb(99, 98, 98);
  }
  .tital-heading {
  text-align: center
  }
  .card{
  width: 40%;
  margin-left: -7rem;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #fafafa;
  padding: 1.5rem;
  border-radius: 10px;
  box-sizing: border-box;
  }
  .sec-4 .box-content p {
  font-size: 10px;
  padding: 0% 5% 0% 5%;
  color: rgb(78, 78, 78);
  text-align: center;
  }
  .box {
    display: inline;
    flex-direction: column;
    line-height: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .sec-3 .cards {
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -45%;
    margin-right: 4rem;
  }
  .card-sec h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 35px;
    color: rgb(32, 106, 143);
    text-shadow: 2px 2px 5px rgb(176, 175, 175);
  }

  .btn{
   display: none;
  }
  } 